Repository sport-hub/sport-hub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        # target: 50%
        flags: frontend
      backend:
        # target: 50%
        flags: backend

flags:
  backend:
    paths:
      - ranking/server/
  frontend:
    paths:
      - ranking/client/

comment:
  layout: "reach, diff, flags, files"
  behavior: default

Merge from Master
  ranking/client/build/asset-manifest.json
  ranking/client/build/favicon.ico
  ranking/client/build/index.html
  ranking/client/build/logo192.png
  ranking/client/build/logo512.png
  ranking/client/build/manifest.json
  ranking/client/build/precache-manifest.74147c8c7e9190bd29b6ebce25c6de26.js
  ranking/client/build/robots.txt
  ranking/client/build/service-worker.js
  ranking/client/build/static/css/main.0ac9667b.chunk.css
  ranking/client/build/static/css/main.0ac9667b.chunk.css.map
  ranking/client/build/static/js/2.4e9e14f2.chunk.js
  ranking/client/build/static/js/2.4e9e14f2.chunk.js.map
  ranking/client/build/static/js/main.6fc9d05f.chunk.js
  ranking/client/build/static/js/main.6fc9d05f.chunk.js.map
  ranking/client/build/static/js/runtime-main.43098ee9.js
  ranking/client/build/static/js/runtime-main.43098ee9.js.map
  ranking/client/build/static/media/avatar.f1d71f77.jpg
Due: frontend

Test
  README.md
Due: none

Changes for docker and such
  .github/workflows/release-ranking.yaml
  .github/workflows/release.yaml
  package.json
  ranking/docker-compose.yaml
  ranking/package.json
  ranking/server/src/express.js
Due: backend

Maybe this?
  .github/workflows/release-ranking.yaml
  ranking/server/src/express.js
Due: backend

Back to linux
  .github/workflows/release-ranking.yaml
  package.json
Due: none

Push is needed if you want to push
  package.json
Due: none

yeah not even needed :)
  .github/workflows/release-ranking.yaml
  package.json
Due: none

images are differently tagged
  .github/workflows/release-ranking.yaml
Due: none

This should push it :)
  .github/workflows/release-ranking.yaml
  package.json
  ranking/docker-compose.yaml
Due: none

This needed the env values
  .github/workflows/release-ranking.yaml
Due: none

Both are needed
  .github/workflows/release-ranking.yaml
Due: none

Not finished, still need to learn kubernetes
  .github/workflows/release-ranking.yaml
  ranking/docker-compose.yaml
Due: none

typo
  ranking/docker-compose.yaml
Due: none

Made some mistakes, woops
  package.json
  ranking/docker-compose.yaml
  ranking/server/scripts/db-check.js
  yarn.lock
Due: backend

Optimsations
  .github/workflows/release-ranking.yaml
Due: none

Removing the reps again + build commands doesn't require env from command
  .github/workflows/release-ranking.yaml
  package.json
Due: none
